<h1>
  Author:
  <%=h @post.author.name %>
  &emsp;
  Title:
  <%=h @post.title %>
</h1>

<p>
  <%=h @post.body %>
</p>

<p>
<b>Comments:</b>
<%= render :partial => @comments %>
<br />
<%=h link_to 'New comment', new_author_post_comment_path(@author,@post) %>
</p>


<%= link_to 'Edit', edit_author_post_path(@author,@post) %> |
<%= link_to 'Back', author_path(@author) %>
