<h2>
  Author:
  <%=h @post.author.name %>
</h2>
<h1>
  Title:
  <%=h @post.title %>
</h1>

<%=h simple_format @post.body %>

<p id="post_comments">
<b>Comments:</b>
<% @comments.each do |c| %>
  <span>
  <%= render :partial => 'comments/comment', :object => c %>
  </span>
<% end %>
<%=h link_to 'New comment', new_author_post_comment_path(@author,@post) %>
</p>


<%=h link_to 'Edit', edit_author_post_path(@author,@post) %> |
<%=h link_to 'Back', author_path(@author) %>
